body{
    background-color: #EAEBED;
    }
body>img{
    width: 20%; 
    float: left; 
    margin-left: 20%; 
    margin-right: 5%; 
    margin-top: 5%;
}
div{
    width: 18%; 
    float: left; 
    background-color:#EAEBED; 
    margin-top: 12%; 
    text-align: center;
}
h1{
    display: inline-block; 
    width: 100%; 
    font-size: 80px; 
    margin-top: 0; 
    margin-bottom: 0%; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p:first-of-type{
    display: inline-block; 
    width: 100%; 
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    display: inline-block; 
    width: 100%; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   
a{
    display: inline-block; 
    background-color: rgb(105, 111, 137); 
    color: white; 
    font-size: 20px; 
    padding: 10px; 
    text-decoration:none; 
    text-transform:uppercase;
}